---

---


<section class="h-[20vh]">

    <article
        class="flex flex-col h-full justify-center items-center gap-5 md:grid md:grid-cols-3 md:items-center md:justify-items-center text-white">
        <!-- Logo usuario polkadev -->
        <img id="logoUsuario" src="../img/polkadev-logo-marciano.PNG"
            class="w-32 lg:w-44 h-auto pb-2 md:pb-3 lg:pb-4" alt="Logo de polkadev">
        <p class="text-center text-white text-xs geist-light lg:text-base">© Copyright 2023 Polkadev</p>
        <!-- Menú con los iconos para las redes sociales y su enlace -->
        <div id="menuSocial" class="md:text-sm lg:text-3xl hidden md:flex md:gap-2">
            <a class="logo-redes" href="https://github.com/alvarob27" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
                    </path>
                </svg>
            </a>
            <a class="logo-redes" href="https://www.linkedin.com/in/%C3%A1lvaro-b%C3%A1rcena-lasala-07361b191/"
                target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z">
                    </path>
                    <path d="M8 11l0 5"></path>
                    <path d="M8 8l0 .01"></path>
                    <path d="M12 16l0 -5"></path>
                    <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                </svg>
            </a>
        </div>
    </article>
</section>

<style>
     #logoUsuario {
        transition: transform 0.3s ease-in-out;
    }

    #logoUsuario:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .logo-redes {
        transition: transform 0.3s ease-in-out;
    }

    .logo-redes:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
    section{
        background-image: radial-gradient(at right bottom, rgb(19, 19, 19), rgb(34, 34, 34));
    }
</style>